

<body ng-app="content">
    <!-- Page container -->

    <div class="page-container">  
    

        <!-- Page content -->
        <div class="page-contents"><br>
        
       <div class="form-actions text-right">
               <input ng-click="customercareAdd();" type="button" value="Add" class="btn btn-danger">
      	</div>
        
        <form action="#" role="form">
                <div class="panel panel-default">
                    <div class="panel-heading"><h6 class="panel-title"><i class="icon-pencil3"></i> Customer Care Grid</h6></div>
                    <div class="panel-body">

                        <div class="block">
                            <div class="">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>

                                            <th class="">S.NO</th>
                                            <th class="">Ticket</th>
                                            <th class="">Date & Time</th>
                                            <th class="">Customer</th>
                                            <th class="">Subject</th>
                                            <th class="">Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                   
                                        <tr>
                                            <td>sample 1</td>
                                            <td>sample 2</td>
                                            <td>sample 3</td>
                                            <td>sample 4</td>
                                            <td>sample 5</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </form>

            <!-- /tasks table -->
          
        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->


</body>