<style type="text/css">
.bg {
    background-image:url('resources/images/login-bg.jpg');
    background-repeat:no-repeat;
    /*background-size:cover;*/
    background-position:top center;
    width:100%;
    overflow: hidden;
}
.login-headear {
    width:100%;
    height: 77px;
    background: #e6e6e6;
    background-image: url('resources/images/login-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    margin:20px auto;
}
</style>
<div style="width:30%;margin:50px auto;">
		<div class="login-headear"></div>
		<form novalidate name="changePasswordForm" autocomplete="off">			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title">
						<i class="icon-pencil3"></i>Forgot Password
					</h6>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="row">
							<div ng-class="{'sucess_message': data.success, 'sucess_error': !data.success}">{{data.message}}</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-2">Email</div>
							<div class="col-md-10">
								<input type="text" name="email" value="" placeholder="Email" class="form-control" ng-model="changePassword.email" 	
								validator="required,validateEmail" required-error-message="Enter the Email ID" email-error-message="Invalid email address" valid-method="watch"	/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-2">
								&nbsp;
							</div>
							
							<div class="col-md-10">
								<input type="submit" value="Enter" class="btn btn-danger" validation-submit="changePasswordForm" ng-click="doChangePassword()" />		
								&nbsp;<span><a ui-sref="login" href="/login">back to Login?</a></span>						
							</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>