<style type="text/css">
.bg {
    background-image:url('resources/images/login-bg.jpg');
    background-repeat:no-repeat;
    /*background-size:cover;*/
    background-position:top center;
    width:100%;
}
.login-headear {
    width: 306px;
    height: 77px;
    background: #e6e6e6;
    background-image: url('resources/images/login-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    margin:20px auto;
}
</style>
<div style="width:35%;margin:50px auto;">
		<div class="login-headear"></div>
		<form novalidate name="resetPasswordForm" autocomplete="off">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h6 class="panel-title">
						<i class="icon-pencil3"></i>Reset Password
					</h6>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="row">
							<div ng-class="{'sucess_message': data.success, 'sucess_error': !data.success}">{{data.message}}</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-3">Email</div>
							<div class="col-md-9">
								<input type="text" name="email" value="" placeholder="Email" class="form-control" ng-model="resetPassword.email" readOnly	/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-3">Old Password</div>
							<div class="col-md-9">
								<input type="password" name="oldPwd" placeholder="Old Password" class="form-control" ng-model="resetPassword.oldPwd" 	
								validator="required" required-error-message="Passwrd is required"  valid-method="watch" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-3">New Password</div>
							<div class="col-md-9">
								<input type="password" name="newPwd" placeholder="New Password" class="form-control" ng-model="resetPassword.newPwd" 	
								validator="required" required-error-message="New passwrd is required"  valid-method="watch" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-3">Confirm Password</div>
							<div class="col-md-9">
																	
							    <input type="password" name="cnfPwd" placeholder="Confirm Password" class="form-control" ng-model="resetPassword.cnfPwd" 	
								validator="required" required-error-message="Confirm passwrd is required"  valid-method="watch" />
								
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-3">&nbsp;</div>
							<div class="col-md-9">
								<input type="submit" value="Change" class="btn btn-danger" validation-submit="resetPasswordForm" ng-click="doResetPassword()" />
							</div>
					</div>
				</div>
			</div>
		</div>		
	</form>
</div>