<div class="page-contents">

	<!-- Breadcrumbs line 
            <br/>
            <div class="breadcrumb-line">
                <ul class="breadcrumb">
                    <li><a href="index-2.html">Home</a></li>
                    <li class="active">Dashboard</li>
                </ul>
            </div>
            <!-- /breadcrumbs line -->

	<form role="form" name="addPackageCategory" id="addPackageCategoryFrm"
		novalidate>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6 class="panel-title">
					<i class="icon-pencil3"></i>Package Category Details
				</h6>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-2  subtitle">Name:</div>
					<div class="col-md-3">
						<input type="text" id="hotelName" name="catTitle"
							placeholder="Package Category Name" class="form-control"
							ng-model="addEditcategory.catTitle" data-validator="required,validateAlphaSpace"
							data-required-error-message="Enter the package category name"
							data-alpha-error-message="Enter the correct package category Name" maxlength="50">
					</div>
					<div class="col-md-2  subtitle">Description:</div>
					<div class="col-md-3">
						<textarea id="catDescription" name="catDescription"
							placeholder="Description" class="form-control"
							data-validator="required"
							data-required-error-message="Enter the package category description"
							ng-model="addEditcategory.catDescription" maxlength="300">
						</textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2  subtitle">Sequence Id:</div>
					<div class="col-md-3">
						<input type="text" name="seqId"
							placeholder="category sequence number" class="form-control"
							ng-model="addEditcategory.seqId" data-validator="required,validateNumber"
							data-required-error-message="Enter the package category sequence number"
							data-number-error-message="Enter the number only" maxlength="5">
					</div>
					<div class="col-md-2  subtitle">Active:</div>
						<div class="col-md-3">
							<span ng-click="addEditcategory.isCategory=!addEditcategory.isCategory" ng-hide="!addEditcategory.isCategory">
								<a href=""><i style="color: #21b384"
									class="fa fa-check-square rect-check"></i></a>
							</span> <span ng-click="addEditcategory.isCategory=!addEditcategory.isCategory" ng-hide="addEditcategory.isCategory">
								<a href=""><i style="color:#808080;"
									class="fa fa-check-square rect-check"></i></a>
							</span>
						</div>
				</div>
			</div>
		</div>
		<br>
		<div class="form-actions text-right">
			<input type="submit" value="Save"
				data-ng-click="savePackageCategory()"
				data-validation-submit="addPackageCategory" class="btn btn-danger">
			<!-- <input type="reset" value="Clear" class="btn btn-default"> -->
			<input type="reset" value="Cancel" ng-click="cancel();"
				class="btn btn-default">
		</div>

	</form>

</div>
