<div class="panel panel-default">
	<div class="panel-heading">
		<h6 class="panel-title">
			<i class="icon-pencil3"></i>Upload Package Category Image -
			{{category.catTitle}}
		</h6>
	</div>	
	<div class="panel-body">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<img data-ng-show="imgfile" data-ng-src="{{(imgEditicon == true)?mySplit(imgfile,0):imgfile}}"
						class="img-responsive" alt="Package Category Icon Image" width="300" height="200">
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-10">
							<button type="file" ng-file-select ng-model="myFiles"
								ng-file-change="fileSelected($files, $event)" ng-multiple="true"
								accept="image/*,*.pdf" resetOnClick="true"
								class="btn btn-primary">Upload</button>
						</div>
					</div>
					<br>
					<div class="form-actions text-left">
						<input data-ng-show="hideImageSaveBtn" type="submit" value="Save"
							data-ng-click="saveImgIcon(category.catId)"
							class="btn btn-danger"> <input type="reset"
							value="Cancel" ng-click="cancel();" class="btn btn-default">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>