
<script language="javascript" type="text/javascript">
var today = new Date()
var year = today.getFullYear()
//document.getElementById('year').innerHtml = year;
$('#year').html(year);
</script>
<!-- Footer -->
<div class="footer clearfix">
    <div class="pull-left">&copy; <span id="year"></span>. Visiit by All rights reserved</div>
</div>
<!-- /footer -->
<script type="text/javascript" src="resources/js/application.js"></script>
<style>

.loader {
    background: none repeat scroll 0 0 hsla(0, 8%, 21%, 0.62);
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100000;
}
#circularG {
    height: 64px;
    left: 45%;
    position: absolute;
    top: 50%;
    width: 64px;
}
</style>
<div class="loader" style="display: none">
        <div id="circularG">
        <img src="resources/images/Loading1.gif"/>
            <!--<div id="circularG_1" class="circularG">
            </div>
            <div id="circularG_2" class="circularG">
            </div>
            <div id="circularG_3" class="circularG">
            </div>
            <div id="circularG_4" class="circularG">
            </div>
            <div id="circularG_5" class="circularG">
            </div>
            <div id="circularG_6" class="circularG">
            </div>
            <div id="circularG_7" class="circularG">
            </div>
            <div id="circularG_8" class="circularG">
            </div>  -->
        </div>
    </div>   